.tokenomics-wrapper {
    height: calc(100vh - 95px);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.tokenomics-video {
    width: 100%;
    aspect-ratio: 3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.tokenomics-supply-text {
    position: absolute;
    font-family: 'Pixel Operator HB SC', sans-serif;
    font-size: 4vw;
    right: 9.6%;
    bottom: 23%;
    color: white;
    z-index: 1;
}

.tokenomics-supply-text.hidden {
    opacity: 0;
}

.tokenomics-supply-text-percentage {
    color: #00FF00;
}

.tokenomics-rescan-button {
    position: absolute;
    bottom: 21.5%;
    left: 48.5%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 1.5vw;
    cursor: pointer;
    z-index: 1;
    background-color: #FFFFFF;
    border: none;
    color: black;
    font-family: 'Pixel Operator HB SC', sans-serif;
}

.tokenomics-rescan-button:hover {
    background-color: #777777;
}

.tokenomics-rescan-button:active {
    background-color: #333333;
    transform: translate(-50%, 1px);
}

.tokenomics-rescan-button.hidden {
    opacity: 0;
}

.page-name-container {
    position: absolute;
    width: 8%;
    height: 10%;
    bottom: 1%;
    left: 1%;
    z-index: 1;
}

.page-name-container p {
    font-family: 'Hacked', sans-serif;
    font-size: 3.5vw;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
